@model NSocial.Models.Post

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Post</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Text)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Text)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PostDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PostDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LikesCount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LikesCount)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CommentsCount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CommentsCount)
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.Comments)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Comments)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
