@model IEnumerable<NSocial.Models.Post>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string postImageBase = "/UploadedFiles/Post/PostPhoto/";
}



    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LikesCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommentsCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LikesCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommentsCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @foreach (var comment in item.PostComments)
            {
                <a class="alert alert-info">
                    @comment.Text
                </a>
                <br />
            }


        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostImagePath)
        </td>
        <td>
            @{ string imgpath = postImageBase + "/" + @item.PostImagePath; }
            <img src="@imgpath" />
        </td>
        <td>
            @Html.ActionLink(linkText: "Edit", actionName: "Edit", controllerName: "Post", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "btn btn-success" }) |
            @Html.ActionLink(linkText: "Details", actionName: "Details", controllerName: "Post", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "btn btn-light" }) |
            @Html.ActionLink(linkText: "Delete", actionName: "Delete", controllerName: "Post", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "btn btn-danger" }) |
            @Html.ActionLink(linkText: "Comment", actionName: "Add", controllerName: "Comments", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "btn btn-danger" }) |
        </td>
        <td>
            @* TODO: Like Dislike eklenmek istenen yerlere eklenecek. *@
            @{ ViewBag.postid = item.ID; }
            @{ ViewBag.LikesCount = item.LikesCount; }
            @{ ViewBag.DislikesCount = item.DislikesCount; }
            @Html.Partial("_partial_like_dislike")
        </td>
    </tr>
    }
    
    </table>