@using NSocial.Security
@using System
@using NSocial.Models
@using NSocial.DataAccess
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>@ViewBag.Title - ASP.NET Uygulamam</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @{
        bool isAuth = !string.IsNullOrEmpty(SessionPersister.Email);
        User user = new User();
        if (isAuth)
        {
            user = UserDAL.Methods.FindX(SessionPersister.Email);
        }
    }
    <style>
        
    </style>
</head>
<body>
   
    <div class="container body-content">




        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand col-1" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse bg-warning">
                <div class="col-8">
                    <ul class="nav">
                        <li>@Html.ActionLink("Giriş Sayfası", "Index", "Home")</li>
                        <li>@Html.ActionLink("Kişi", "Contact", "Home")</li>

                        @if (isAuth)
                        {
                            @*<li><a class="btn btn-warning" href="/User/Details/@user.ID">@user.Email</a></li>*@
                            <li>@Html.ActionLink("İstek Listesi", "FriendList", "User")</li>
                            <li>@Html.ActionLink(@user.Name + " " + @user.Surname, "Details", "User", new { id = user.ID }, new { @class = "btn btn-success " })</li>
                            <li>@Html.ActionLink("Logout", "Logout", "Login", null, new { @class = "btn btn-danger" })</li>
                        }
                        @if (isAuth == false)
                        {
                            <li>@Html.ActionLink("LOGIN", "Login", "Login", null, new { @class = "btn btn-success " })</li>
                        }


                    </ul>

                </div>

                <div class="p-2 col-2">
                    <form action="/Post/Index" method="post" class="d-flex flex-row">
                        @Html.AntiForgeryToken()
                        <input name="searchterm" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>


        </nav>


















        <hr />

        <div class="row">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ASP.NET Uygulamam</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
